@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #06800c;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: white;
  background-color: #06800c;
  border-radius: 5px; 
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.icon-container {
  display: flex;
}

.icon {
  width: 52px; /* Set the desired width for your icons */
  height: 52px; /* Set the desired height for your icons */
  margin-right: 10px;
  margin-bottom: 30px;
}

.left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
}
.first-row{
   margin-bottom: 30px;
}
.last-row{
  margin-bottom: 30px;
}